body {
    background-color: white; /* #ABC5E8 senere */
    padding-top: 70px;/* Makees sure that fixed-top menu doesnt interfer with body */
    padding-bottom: 50px;
}

.loginBody {
    padding-top: 0px;
}

/* Pictures of our users */
.profiles {
    margin: 20px;
    text-align: center;
}

/* Logo on login page */
.logoBig {
    margin: 20px;
    text-align: center;
}

/* popup login menu start */
.popup {
    margin: 300px auto;
    text-align: center;
    font: 14px Prototype, serif;
    padding: 20px;
    background: rgb(213, 213, 213);
    border-radius: 5px;
    width: 25%;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.61);
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}
/* popup login menu finish */

/* Fixes textarea on activity page */
textarea {
    width: 80%;
    margin: auto;
    height: 75px;
    resize: none;
}

/* Modifies the clickable activities on activity page */
.clickable {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

