body {
    background-color: white; /* #ABC5E8 senere */
}

.profiles {
    margin: 20px;
    text-align: center;
}

.logoBig {
    margin: 20px;
    text-align: center;
}

/* button */
.btn {
    background: #007bff;
    color: black;
    padding: 7px 10px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    border-width: 0px;
    font-family: Arial;
}

.btn:hover  {
    background-color: #005bff;
}

.btn.cancel:hover {
    background-color: #005bff;
}
/* popup login menu */

.popup {
    margin: 300px auto;
    text-align: center;
    font: 14px Prototype, serif;
    padding: 20px;
    background: rgb(213, 213, 213);
    border-radius: 5px;
    width: 25%;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.61);
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

/* input type */

input[type=text], input[type=password] {
    width: 280px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 2px;
}




/* activities */


.clickable {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


/* navbar */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #007bff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover, div.kalender:hover, div.dropdown:hover, div.logout:hover {
    background-color: #005bff;
}

.dropdown:hover .dropdown-content   {
    display: block;
}

#calendar {
    margin-top: 70px;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 68px;
    margin: 1px;
    padding: 0;
    top: 0;
    buttom: 0;
    background-color: white;
    z-index: 20;
}

#horizontalLine {
    margin-left: 0px;
    z-index: 2;
    width: 100%;
    color: black;
}

#logo {
    margin: 15px;
}

.akt {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 100px;
}

.beg {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 200px;
}
.logout {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 10px;
}
.inputType {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 580px;
    width: 200px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

.search {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 870px;
}

textarea.update {
    width: 30%;
    margin: auto;
    height: 100px;
    resize: none;
}