<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: relics">

</head>
<body>

<div class="container">

    <div class="activityBox" th:each="a : ${activities}">
        <a class="clickable" th:href="@{/activitiesOverview(id=${a.id})}">
        <td th:text="${a.name}"></td> </br>
        <th>Aldersbegrænsning</th>
        <td th:text="${a.ageLimit}"></td> </br>
        <th>Højdebegrænsning</th>
        <td th:text="${a.heightLimit}"></td> </br>
        <th>Max tilmeldte</th>
        <td th:text="${a.maxAttendants}"></td> </br>
        <th>Pris</th>
        <td th:text="${a.price}"></td> </br>
        <th>Beskrivelse</th>
        <td th:text="${a.description}"></td>
        </a>
    </div>

</div>




</body>
</html>