<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="layout :: relics">
    <title>Activities</title>
</head>
<body>

<div th:replace="layout::header"></div>


<div class="container">

    <form class="editform" th:action="@{/editActivity}" method="post" th:object="${activity}">

        <div class="inputcon" align="center">
           <input class="update" type="hidden" th:field="*{id}" placeholder="name"/>
        </div>

        <div class="inputcon" align="center">
            <div>Navn: </div><input class="update" type="text" th:field="*{name}" placeholder="name"/>
        </div>

        <div class="inputcon" align="center">
            <div>Aldersbegrænsning: </div><input class="update" type="text" th:field="*{ageLimit}" placeholder="ageLimit"/>
        </div>

        <div class="inputcon" align="center">
            <div>Højdebegrænsning: </div><input class="update" type="text" th:field="*{heightLimit}" placeholder="heightLimit"/>
        </div>

        <div class="inputcon" align="center">
            <input class="update" type="text" th:field="*{maxAttendants}" placeholder="maxAttendants"/>
        </div>

        <div class="inputcon" align="center">
            <div>Pris: </div><input class="update" type="text" th:field="*{price}" placeholder="price"/>
        </div>

        <div class="inputcon" align="center">
            <div>Farve: </div><input class="update" type="text" th:field="*{calendarColor}" placeholder="calendarColor"/>
        </div>

        <div class="textareacon" align="center">
            <textarea class="update" type="text" th:field="*{description}" placeholder="description"></textarea>
        </div>

        <div class="update" align="left">
            <input class="save" type="submit" value="GEM" />


        </div>



    </form>

    <form class="delete" th:action="@{/deleteActivity}"  method="post" th:object="${activity}" >

        <input class="update" type="hidden" th:field="*{id}" placeholder="name"/>

        <input th:if="${create != true}"  class="delete" type="submit" value="SLET" />
        <input th:if="${create == true}"  class="delete" type="submit" value="Fortryd" />

    </form>

</div>





</body>
</html>