<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="relics">
    <title>Adventure Alley</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="header">

    </div>
    <div class="content">
        <h1>Create/Edit Event:</h1>
        <form th:action="@{/createEvent}" method="post" th:object="${eventForm}">
            <select name="activity" th:field="*{activity}">
                <option th:each="acti : ${activities}" th:value="${acti.name}" th:text="${acti.name}"></option>
            </select>
            <label for="startDate">Start Date:</label>
            <input type="datetime-local" id="startDate" th:field="*{startDate}">
            <label for="endDate">End Date:</label>
            <input type="datetime-local" id="endDate" th:field="*{endDate}">

            <input type="submit" name="submit" value="Submit">
        </form>
    </div>
    <div class="footer">

    </div>

</body>
</html>