<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calendar</title>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/header :: header"/>

    <div id='calendar'></div>

    <!--This is the JQuery, Moment and fullcalender dependencies for the calendar plugin-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

    <script type="text/javascript">
        var csrfParameter = '${_csrf.parameterName}';
        var csrfToken = '${_csrf.token}';
        $(document).ready(function() {
            // page is now ready, initialize the calendar...


            $('#calendar').fullCalendar({
                // put your options and callbacks here
                defaultView: 'agendaDay',
                firstDay: '1',
                displayEventTime: true,
                themeSystem: 'bootstrap4',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },
                Editable: true , // can be dragged
                disableResizing: true , // can't change size
                editable: false,
                weekNumbers: true,
                eventLimit: true, // allow "more" link when too many events

                // Shows event desciption in the calendar
                //eventRender: function (event, element, view) {
                //    element.find('.fc-title').append('<div class="hr-line-solid-no-margin"></div><span style="font-size: 10px">'+event.description+'</span></div>');
                //},

                events: {
                    url: '/api/event/all'
                }
            });
        });
    </script>
</div>
</body>
</html>