<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: relics"></head>

<body>

<!-- navbar
<div class="navbar">
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/logo.png}"/></a>
    <hr id="horizontalLine"/>
</div>
-->
<div class="container logoBig">
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/logoBig.png}"/></a>
</div>


<div class="container profiles">
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>





    <div id="popup1" class="overlay">
        <div class="popup">
            <form  th:action="@{/login}" method="post">
                <!--her er de 2 textblocke til username og password-->
                <div class="form-group">
                    <input type="text" name="cName" id="cName" class="login-input"
                           placeholder="Brugernavn" required="true" autofocus="true"/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="login-input"
                           placeholder="Kodeord" required="true"/>
                </div>

                <!-- her er knapperne i popup boxen -->
                <a class="btn cancel" href="#" >Afbryd</a>
                <input type="submit" value="Login" class="btn"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>