<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: relics"></head>

<body>

<!-- navbar
<div class="navbar">
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/logo.png}"/></a>
    <hr id="horizontalLine"/>
</div>
-->
<div class="container logoBig">
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/logoBig.png}"/></a>
</div>

<div class="container profiles">
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>


</div>


</body>
</html>