<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container logoBig">
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/logoBig.png}"/></a>
</div>

<div class="container profiles">
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/anonymous.jpg}"/></a>


</div>


</body>
</html>