<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="relics">
    <title>Adventure Alley</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>


<div th:fragment="header" class="navbar">

    <!-- logo -->
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/logo.png}"/></a>


<!--Aktiviteter drop down -->
    <a href="javascript:void(0)" th:href="@{javascript:void(0)}" class="btn akt">Aktiviteter</a>

    <div class="dropdown">

        <div class="dropdown-content">
            <a href="/" th:href="@{/}">Gokart</a>
            <a href="/" th:href="@{/}">Paintball</a>
            <a href="/" th:href="@{/}">Minigolf</a>
            <a href="/" th:href="@{/}">Sumo wrestling</a>
        </div>
    </div>
    <a href="/" th:href="@{/}" class="btn beg">Opret begivenhed</a>




  <!-- search -->
    <input type="text" placeholder="Search.." class="inputType">

    <!-- search knap -->
    <a href="/" th:href="@{/}" class="btn search">Søg</a>




        <div class="logout"><a class="btn logout" th:href="@{/logout}">Logout</a></div>

    <hr id="horizontalLine"/>
</div>

</body>
</html>