<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="relics">
    <title>Adventure Alley</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>





<div th:fragment="header">
    <div class="navbar">
        <ul>

            <div class="logo" align="center">
                <a href="index.html" th:href="@{/}"> <img th:src="@{/img/logo.png}"/></a>
            </div>

            <div class="kalender"><a class="btn" href="/" th:href="@{#}">Kalender</a></div>

            <div class="dropdown">
                <a href="javascript:void(0)" th:href="@{javascript:void(0)}" class="btn">Aktiviteter</a>
                <div class="dropdown-content">
                    <a href="/" th:href="@{/}">Gokart</a>
                    <a href="/" th:href="@{/}">Paintball</a>
                    <a href="/" th:href="@{/}">Minigolf</a>
                    <a href="/" th:href="@{/}">Sumo wrestling</a>
                </div>
            </div>
            <input class="search" type="text" placeholder="Search..">
            <div class="logout"><a class="btn" href="/" th:href="@{/}">logout</a></div>
        </ul>
        <hr id="horizontalLine"/>
    </div>
</div>

</body>
</html>