<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="relics">
    <title>Adventure Alley</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>


<div th:fragment="header" class="navbar">

    <!-- logo -->
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/logo.PNG}"/></a>


<!--Aktiviteter drop down -->
    <a href="/activitiesOverview" class="btn akt">Aktiviteter</a>

    <a href="/" th:href="@{/}" class="btn beg">Opret begivenhed</a>




  <!-- search -->
    <input type="text" placeholder="Search.." class="inputType">

    <!-- search knap -->
    <a href="/" th:href="@{/}" class="btn search">Søg</a>




        <div class="logout"><a class="btn logout" th:href="@{/logout}">Logout</a></div>

    <hr id="horizontalLine"/>
</div>

</body>
</html>