w<!DOCTYPE html>
<html>
<head th:replace="layout :: relics">
    <title>Login side</title>
</head>
<body>
<div class="container logoBig">
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/logoBig.PNG}"/></a>
</div>
<form  th:action="@{/login}" method="post">
<div class="container profiles">
    <div th:if="${param.error}" class="popup">
        <div style="color:red">Kodeord er forkert - prøv igen.</div>
    </div>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>
    <a href="#popup1"> <img th:src="@{/img/anonymous.jpg}"/></a>

    <div id="popup1" class="overlay">
        <div class="popup">

                <!--her er de 2 textblocke til username og password-->
                <div class="form-group">
                    <input type="hidden" name="username" value="user" class="login-input"
                           placeholder="Brugernavn" required="true"/>
                </div>
                <div class="form-group">
                    <input type="password"  name="password" class="login-input"
                           placeholder="Kodeord" required="true" autofocus="true"/>
                </div>

                <!-- her er knapperne i popup boxen -->
                <a class="btn cancel" href="#" >Afbryd</a>
                <input type="submit" value="Login" class="btn"/>

        </div>
    </div>
</div>
</form>
</body>
</html>