<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: relics">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"/>
</head>
<body>

<div class="container">

    <table >
        <tr>
            <td>ID</td>
            <td>Brugernavn</td>
            <td>Rolle</td>
        </tr>
        <tr th:each="u: ${users}">
            <td th:text="${u.id}"/>
            <td th:text="${u.username}"/>
            <td th:text="${u.role}"/>
            <td><a th:href="@{/userDetails(userId=${u.id})}">Detaljer</a></td>
        </tr>
    </table>

    <!-- Creating a new user is only a job for administrators! -->
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <form th:action="@{/createUser}">
            <input type="submit" value="Opret ny bruger"></input>
        </form>
    </div>

</div>




</body>
</html>