<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: relics">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"/>
</head>
<body>

<div class="container">
    <table >
        <tr>
            <td>ID</td>
            <td th:text="${u.id}">ID</td>
        </tr>
        <tr>
            <td>Brugernavn</td>
            <td th:text="${u.username}">Brugernavn</td>
        </tr>
        <tr>
            <td>Rolle</td>
            <td th:text="${u.role}">Rolle</td>
        </tr>
        <tr>
            <td>Kodeord</td>
            <td th:text="${u.password}" type="password" >Kodeord</td>
        </tr>
    </table>
</div>
</body>
</html>